<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ablunit.launchType">
    <stringAttribute key="ATTR_ABLUNIT_TESTCASE_NAME" value="C:\Users\zdelcoco\pdsoe_125_workspaces\Cover_Your_Assets\TestCoverYourAssets\tests\testAsset.cls"/>
    <booleanAttribute key="ATTR_ABLUNIT_TEST_CASE_SELECTION" value="true"/>
    <booleanAttribute key="ATTR_ABLUNIT_TEST_FOLDER_SELECTION" value="false"/>
    <stringAttribute key="ATTR_ABLUNIT_TEST_NAME" value=""/>
    <stringAttribute key="abl.client.PROVERSION" value="12.5 (64-bit)"/>
    <booleanAttribute key="abl.databases.USE_PROJECT" value="true"/>
    <stringAttribute key="abl.debug.ABL_PROGRAM" value="ABLUnitCore.r"/>
    <stringAttribute key="abl.debug.ATTR_ABL_PROJECT_NAME" value="TestCoverYourAssets"/>
    <stringAttribute key="abl.startup.WORKING_DIRECTORY" value="C:\Users\zdelcoco\pdsoe_125_workspaces\Cover_Your_Assets\TestCoverYourAssets"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/TestCoverYourAssets/tests/testAsset.cls"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables"/>
</launchConfiguration>
